.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    p {
        color: #29292e;
    }

    & + .question {
        margin-top: 8px;
    }

    
    &.highlighted {
        background: #f4f0ff;
        border: 1px solid var(--primary-color);
        
        footer .user-info span {
            color: #29292e            
        }
        
        .question p {
            color: #171718
        }
        
    }
    &.answered {        
        filter: grayscale(100%);
        background: #DBDCDD;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img{
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }
            span {
                margin-left: 8px;
                color: #737380;
                cursor: default;
                font-size: 1.4rem;
                font-family: "Poppins", sans-serif;
            }

        }

        > div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;


            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;
                transition: filter 0.2s;
                gap: 8px;
                &.liked {
                    color: var(--primary-color);

                    svg path{
                        stroke: var(--primary-color);                        
                        cursor: pointer;
                    }
                }

                &:hover {
                    cursor: pointer;
                    filter: brightness(0.7);
                }
            }

            &.high-light {                 
                color: var(--primary-color);

                &.highlighted{

                    svg path{
                    stroke: var(--primary-color);
                    }
                }
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.7);
                }
            }
        }
    }
}