#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;
        
        background: var(--primary-color);
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12rem 80px;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 36px "Poppins", sans-serif;
            line-height: 4.2rem;
            margin-top: 16px;
        }

        p {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-top: 1.6rem;
            color: var(--background-color);
        }
    }

    main {
        flex: 8;

        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        max-width: 320px;
        text-align: center;

        > button {
            &:focus-visible, &:focus {
                outline: none;
                box-shadow: 0px 0px 5px -1px var(--primary-color), inset 0px 0px 5px -1px var(--primary-color);
            }
        }

        > img {
            align-items: center;
        }

        h2 {
            font-size: 2.4rem;
            margin: 64px 0 24px;
            font-family: "Poppins", sans-serif;
        }

        form {

            input {
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: var(--white);
                border: 1px solid #a8a8b3
            }

            button {
                margin-top: 16px;
            }

            button, input {
                width: 100%;
            }
        }
        
        p {
            font-size: 1.4rem;
            color: #737380;
            margin-top: 16px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #e55af9;
                transition: filter 0.1s;

                &:hover {
                    filter: brightness(0.8);
                }
            }            
        }
    }
    
    .acess-with-google {
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ea4335;
        color: var(--white);

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;

        img {
            margin: 0 8px;
        }

        &:hover {
            filter: brightness(0.9);
        }

        transition: filter 0.2s;
    }

    .separator { 
        display: flex;
        font-size: 1.4rem;
        color: #a8a8b3;
        margin: 32px 0;
        align-items: center;
       
        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }
    
    @media (max-width: 868px) {
    
        aside {
            display: none !important;
        }

        main{
            background: var(--primary-color) ;

            .main-content {
                background: var(--background-color);
                padding: 30px;
                border-radius: 10px;
                box-shadow: #0e1e2512 0px 2px 4px 0px, #0e1e2532 0px 2px 16px 0px;
            }
        }
    
    }
}